**Q) A bakery offers a 5% discount on orders above ₹500. Ask the user to enter total bill 
amount and calculate final price after discount (if applicable)**.

In [14]:
n=int(input("Enter Bill Amount: "))
tax=0
bill=0
if n>500:
    tax=n*0.05
    bill=n-tax
    print("After discount, you bill amount is : ",bill)
else:
    bill=n
    print("Your bill amount remains: ",bill)

Enter Bill Amount:  550

After discount, you bill amount is :  522.5

**Q) Given the marks in 3 subjects, calculate and print the result as PASS or FAIL. A student 
passes only if all marks are >= 35.**

In [27]:
n1=int(input("Enter marks of 1st subject: "))
n2=int(input("Enter marks of 2nd subject: "))
n3=int(input("Enter marks of 3rd subject: "))

if n1>=35 and n2>=35 and n3>=35:
    print("The student is PASS")
else:
    print("The student is Fail")

Enter marks of 1st subject:  24
Enter marks of 2nd subject:  45
Enter marks of 3rd subject:  76

The student is Fail

**Q) Write a program that reads a day number (1-7) and prints whether it's a weekday or 
weekend. Handle invalid inputs as well.**

In [42]:
try:
    n=int(input("Enter a number between 1-7: "))
    if n in range(1,6):
        print("It's WeekDay, Get ready for the work")
    elif n in range(6,8):
        print("It's Weekend, Enjoy")
    else:
        print("Invalid Input, Enter a number between 1-7")
except ValueError:
    print("Enter a Integer Number between 1-7")

Enter a number between 1-7:  3

It's WeekDay, Get ready for the work

**Q) A person gets a fine if they return a library book late. First 5 days: ₹2/day, next 5 days: 
₹5/day, after that: ₹10/day. Calculate the fine based on days late.**

In [61]:
n=int(input("Enter late days: "))
late=0
if n<=5:
    late=n*2
    print("The fine is: ",late)
elif n<=10:
    late=10+ (n-5) * 5
    print("The fine is: ",late)
elif n>10:
    late=35+ (n-10)*10
    print("The fine is: ",late)

Enter late days:  15

The fine is:  85

**Q) Write a function that accepts three side lengths and returns True if they can form a 
triangle (use triangle inequality).**

In [64]:
a=float(input("Enter 1st side: "))
b=float(input("Enter 2nd side: "))
c=float(input("Enter 3rd side: "))

if a+b>c:
    print("Triangle is possible")
elif a+c>b:
    print("Triangle is possible")
elif b+c>a:
    print("Triangle is possible")
else:
    print("Triangle is not possible")

Enter 1st side:  1
Enter 2nd side:  2
Enter 3rd side:  3

Triangle is possible

**Q) Define a function that returns the second largest number among four numbers passed to 
it.**

In [71]:
a=int(input("Enter 1st number: "))
b=int(input("Enter 2nd number: "))
c=int(input("Enter 3rd number: "))
d=int(input("Enter 4th number: "))
l=[a,b,c,d]

l.sort(reverse=True)
print("2nd largest number is: ",l[1])

Enter 1st number:  11
Enter 2nd number:  2
Enter 3rd number:  3
Enter 4th number:  4

2nd largest number is:  4

- Optimizing code

In [77]:
l=[]
for i in range(1,5):
    l.append(int(input("Enter number: ")))
l.sort(reverse=True)
print("2nd largest number is: ",l[1])

Enter number:  1
Enter number:  2
Enter number:  3
Enter number:  4

2nd largest number is:  3

**Q) Use map() and a lambda function to convert a list of temperatures in Celsius to 
Fahrenheit.**

In [86]:
cel=[12,45,67,35]
fah=list(map(lambda c: (c * 9/5) + 32, cel))
print("Temperature after Celsius to Fahrenheit: ",fah)

Temperature after Celsius to Fahrenheit:  [53.6, 113.0, 152.6, 95.0]

**Q) Use filter() to extract scores above 60 from a list of student scores.**

In [89]:
li=[20,45,67,89,65,78,34,55,59]
new=list(filter(lambda n:n>60,li))
print("After filtering: ",new)

After filtering:  [67, 89, 65, 78]

**Q) Given a list of dictionaries with employee names and salaries, use reduce() to calculate 
the total salary payout**

In [100]:
from functools import reduce
emp = [
    {"name": "Akash", "salary": 50000},
    {"name": "Sky", "salary": 60000}
]

total = reduce(lambda acc, emp: acc + emp["salary"], emp,0)

print("Total salary payout:", total)

Total salary payout: 110000

**Q) Use enumerate() to print the index and element of each character in a word entered by 
the user.**

In [103]:
word = input("Enter a word: ")

for index, char in enumerate(word):
    print(f"Index: {index}, Character: '{char}'")

Enter a word:  akash

Index: 0, Character: 'a'
Index: 1, Character: 'k'
Index: 2, Character: 'a'
Index: 3, Character: 's'
Index: 4, Character: 'h'

**Q) Accept a sentence and print a new sentence where each word starts with a capital letter 
and ends with a period.**

In [113]:
sentence = input("Enter a sentence: ")
words = sentence.split()
new= ''
for word in words:
    new+=word.capitalize()+'. '
print(new)

Enter a sentence:  akash hii sky hello

Akash. Hii. Sky. Hello.

**Q) Write a program that creates a list of 10 numbers from user input and removes all 
duplicates without using set().**

In [120]:
li=[]
for i in range(1,11):
    li.append(int(input("Enter a number: ")))
new=[]
for i in li:
    if i in new:
        continue
    else:
        new.append(i)
print("After Removing duplicates: ",new)

Enter a number:  2
Enter a number:  3
Enter a number:  4
Enter a number:  5
Enter a number:  6
Enter a number:  5
Enter a number:  4
Enter a number:  3
Enter a number:  5
Enter a number:  8

After Removing duplicates:  [2, 3, 4, 5, 6, 8]

**Q) Given a tuple of (student_name, score), write code to find the student with the second 
highest score.**

In [123]:
students = [
    ("Akash", 75),
    ("Sky", 85),
    ("AK", 90)
]

sorted_students = sorted(students, key=lambda x: x[1], reverse=True)

second_highest_score = sorted_students[1][1]

for name, score in sorted_students:
    if score == second_highest_score:
        print(f"Second highest score: {name} - {score}")
        break

Second highest score: Sky - 85

**Q) Write a program to accept 10 integers from the user and store only unique values in a 
set.**

In [132]:
li=[]
for i in range(1,11):
    li.append(int(input("Enter number: ")))

new=list(set(li))
print("List with Unique numbers: ",new)

Enter number:  2
Enter number:  3
Enter number:  4
Enter number:  5
Enter number:  6
Enter number:  5
Enter number:  6
Enter number:  7
Enter number:  8
Enter number:  9

List with Unique numbers:  [2, 3, 4, 5, 6, 7, 8, 9]

**Q) Given a dictionary of product names and their prices, write a program to display 
products that cost more than ₹1000.**

In [141]:
products = {
    "Choclolate": 500,
    "Biscuit": 2010,
    "Ice Cream": 700,
    "Wafers": 3500
}

print("Products costing more than ₹1000:")
for product, price in products.items():
    if price > 1000:
        print(f"{product}: ₹{price}")

Products costing more than ₹1000:
Biscuit: ₹2010
Wafers: ₹3500

**Q) Write a program that accepts two numbers and divides them, handling the case where 
the denominator is zero.**

In [156]:
try:
    a=float(input("Enter 1st number: "))
    b=float(input("Enter 2nd number: "))

    cal=a/b
    print("After dividing: ",cal)
except ZeroDivisionError:
    print("Can't divide by zero")

Enter 1st number:  0
Enter 2nd number:  7

After dividing:  0.0

**Q) Create a program that accepts an integer list and handles the exception when a non
integer is entered**

In [187]:
li = []

print("Enter 5 integers:")

for i in range(5):    
    try:
        n = int(input(f"Enter number {i+1}: "))
        li.append(n)
    except ValueError:
        print("Invalid input! Please enter a valid integer.")

print("Final list of integers:", li)

Enter 5 integers:

Enter number 1:  2
Enter number 2:  4
Enter number 3:  f

Invalid input! Please enter a valid integer.

Enter number 4:  3
Enter number 5:  4

Final list of integers: [2, 4, 3, 4]

- Optimizing code

In [193]:
li = []

print("Enter 5 integers:")

for i in range(5):    
    try:
        li.append(int(input(f"Enter number {i+1}: ")))
    except ValueError:
        print("Invalid input! Please enter a valid integer.")

print("Final list of integers:", li)

Enter 5 integers:

Enter number 1:  3
Enter number 2:  r

Invalid input! Please enter a valid integer.

Enter number 3:  4
Enter number 4:  r

Invalid input! Please enter a valid integer.

Enter number 5:  4

Final list of integers: [3, 4, 4]

**Q) Write a program that takes a sentence and prints the word with the highest number of 
vowels**